@charset "utf-8";
.skip {position: absolute; width: 100%; left: 0; z-index: 999; top: -50px;}
.skip a:focus, .skip-nav a:active {position: absolute; left: 0;	top: 50px; height: 50px; line-height: 50px; width: 100%; z-index: 999; text-align: center; color: #fff; background:var(--main-color); overflow: visible; clip: unset;}
.txtUndr{text-decoration: underline; text-underline-offset: 3px;}

/*전체 공통*/
*{box-sizing:border-box;}
body {min-width: 320px; color: #333;}
input::placeholder, textarea::placeholder {font-size: inherit; color:#777; font-weight:400;} /*20250212*/
input[type="text"] {height: 40px; padding: 0 15px; border: 1px solid #dcdcdc; background-color: #fff; border-radius: 5px;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s; -webkit-transition: background-color 9999s ease-out; -webkit-box-shadow: 0 0 0px 1000px white inset !important;}
a:hover {text-decoration: underline; text-underline-offset: 3px;}
select {-webkit-appearance:none; /* for chrome */ -moz-appearance:none; /*for firefox*/ appearance:none;}
select::-ms-expand{display:none;/*for IE10,11*/}
select {background-color: #fff; background-image: url("../images/common/select-arrow.png"); background-position:95% center ; background-repeat: no-repeat; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.blind {position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px;}
.inner {max-width: 1430px; margin: 0 auto; padding: 0 10px; box-sizing: border-box;}
a:focus-visible, button:focus-visible, input:focus-visible, select:focus-visible, textarea:focus-visible {outline: 2px dashed #0e0852;}
.lab-txt {display: inline-flex;}
.lab-txt.blue {color: #0274C9;}
.lab-yellow {color: var(--lab-yellow);}
.lab-green {color: var(--lab-green);}
.lab-red {color: var(--lab-red);}
.ov-hidden {overflow: hidden;}
.overlay {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); transition: .3s; z-index: 9;}
.skip-nav {position: absolute; width: 100%; left: 0; z-index: 999; top: -50px;}
.skip-nav a:focus, .skip-nav a:active {position: absolute; left: 0;	top: 50px; height: 50px; line-height: 50px; width: 100%; z-index: 999; text-align: center; color: #fff; background:var(--main-color); overflow: visible; clip: unset;}
.txtUndr{text-decoration: underline; text-underline-offset: 3px;}
.pb40{padding-bottom: 40px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}

.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.df{display: flex; gap: 10px; align-items: center;}

  @media (min-width: 576px) {

  }

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {

  }

  @media (min-width: 1200px) {

  }

  @media (min-width: 1400px) {

  }