@charset "utf-8";
.skip {position: absolute; width: 100%; left: 0; z-index: 999; top: -50px;}
.skip a:focus, .skip-nav a:active {position: absolute; left: 0;	top: 50px; height: 50px; line-height: 50px; width: 100%; z-index: 999; text-align: center; color: #fff; background:var(--main-color); overflow: visible; clip: unset;}
.txtUndr{text-decoration: underline; text-underline-offset: 3px;}

/*전체 공통*/
*{box-sizing:border-box;}
body {min-width: 320px; color: #333;}
input::placeholder, textarea::placeholder {font-size: inherit; color:#777; font-weight:400;} /*20250212*/
input[type="text"] {height: 40px; padding: 0 15px; border: 1px solid #dcdcdc; background-color: #fff; border-radius: 5px;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s; -webkit-transition: background-color 9999s ease-out; -webkit-box-shadow: 0 0 0px 1000px white inset !important;}
a:hover {text-decoration: underline; text-underline-offset: 3px;}
select {-webkit-appearance:none; /* for chrome */ -moz-appearance:none; /*for firefox*/ appearance:none;}
select::-ms-expand{display:none;/*for IE10,11*/}
select {background-color: #fff; background-image: url("../images/common/select-arrow.png"); background-position:95% center ; background-repeat: no-repeat; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.blind {position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px;}
.inner {max-width: 1430px; margin: 0 auto; padding: 0 10px; box-sizing: border-box;}
a:focus-visible, button:focus-visible, input:focus-visible, select:focus-visible, textarea:focus-visible {outline: 2px dashed #0e0852;}
.lab-txt {display: inline-flex;}
.lab-txt.blue {color: #0274C9;}
.lab-yellow {color: var(--lab-yellow);}
.lab-green {color: var(--lab-green);}
.lab-red {color: var(--lab-red);}
.ov-hidden {overflow: hidden;}
.overlay {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); transition: .3s; z-index: 9;}
.skip-nav {position: absolute; width: 100%; left: 0; z-index: 999; top: -50px;}
.skip-nav a:focus, .skip-nav a:active {position: absolute; left: 0;	top: 50px; height: 50px; line-height: 50px; width: 100%; z-index: 999; text-align: center; color: #fff; background:var(--main-color); overflow: visible; clip: unset;}
.txtUndr{text-decoration: underline; text-underline-offset: 3px;}
.pb40{padding-bottom: 40px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}

.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.df{display: flex; gap: 10px; align-items: center;}


.header{height:70px;}
.header-wrap .inner{position:relative;width:100%;height: 100%;}
.header-wrap .inner::after{content:"";display:block;clear:both;}
.header-wrap .logo{display: inline-block; position: absolute;margin-top:10px;}
.header-wrap .logo img{width:200px;}
.site-mgnb{position:relative;float:right;}
.site-mgnb .sm-btn{position:relative;display:block;width:40px;height:40px;margin-top:5px;}
.site-mgnb .sm-btn .bar {position: absolute; top: 15px; left: 12px; display: inline-block; width: 22px; height: 2px; background-color: #363636; transition: .3s;}
.site-mgnb .sm-btn .mid {top: 22px; width: 18px;}
.site-mgnb .sm-btn .bot {top: 28px;}
#gnb{display: flex;}


footer{background-color: #303030;}
.ft-site-box{position: relative;}
.ft-site-btn{position: relative; display: flex ; align-items: center; padding: 0 25px; font-size: 13px; color: #fff; border-bottom: 1px solid #767676; height: 36px;}
.ft-site-list{display: none; position: absolute; left: 0; bottom: 36px; width: 100%; z-index: 9; }
.ft_site_list ul li a{display: block; background: #000; border: 1px solid #767676; border-bottom: none; width: 100%; font-size: 13px; color: #FFF; padding: 5px 25px; }


/* ========== 태블릿 (min-width: 768px) ========== */
  @media (min-width: 768px) {

  }
/* ========== 데스크탑 (min-width: 1024px) ========== */
  @media (min-width: 1024px) {

  }
/* ========== 일반 데스크탑 시작 (min-width: 1280px) ========== */
  @media (min-width: 1280px) {

  }
/* ========== 넓은 데스크탑 (min-width: 1400px) ========== */
  @media (min-width: 1400px) {

  }
/* ========== 와이드 데스크탑 (min-width: 1600px) ========== */
  @media (min-width: 1600px) {

 }

 /* ========== PC전용요소 (max-width: 1279px) ========== */
  @media (max-width: 1279px) {
    
    .header-wrap .inner nav{display:none;}
    .total-group{display:none}
    .site-mgnb .site-modal{display:none;}
    .quick-menu{display: none;}
 }