@charset "utf-8";



#mobile-slider{position: fixed; float: right; right: -100%; top: 0px; bottom: 0; margin: 0px; width: 100%; height: 100%; border-top: 0; overflow-y: auto; background: #fff; border: 0;display: block; z-index: 2000;}
.close_menu { position: fixed; z-index: 1100; top: 20px; right: -100%; width: 35px; height: 35px; }
.mobile_menu ul { width: 100%; overflow: hidden; padding: 10px 0; }
.mb-sub-ul{display: none;}
.mobile-list {width: 100%;}
.mobile-list a {position:relative; display:block;  padding:20px; width: 100%; color: #000; text-transform: uppercase; font-size: 18px; font-weight: normal; border-bottom:1px solid #77727f; }



.main-slide-wrap{position: relative;}
.main-custom-pagination{bottom: -60px; width: auto; left: calc(50% - 75px); height: 35px; padding: 0 10px; font-size: 14px; position: absolute; z-index: 5; display: flex ; align-items: center; justify-content: left; background: #457FFF; color: #FFF; border-radius: 50px;}
.swiper-pagination-fraction{width: 50px;}
.swiper-pagination-bullet{background: transparent; border: 1px solid #fff; opacity: 1; margin: 0 3px; cursor: pointer;}
.swiper-pagination-bullet-active{background: #fff;}
.age-icon{width: 15px; height: 15px; float: left;}
.movie-info{text-align: left;}
.movie-info span{color: #7D7D7D; font-size: 14px; display: block;}


.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.tab-list-wrap{padding-left: 20px;}
.tab-list{display: flex;}
.main-movie .tab-list li{font-size: 20px; color: #B8BBC0; font-weight: bold;}
.main-movie .tab-list li.on{color: #000; text-decoration: underline;}

.movie-slide{position: relative; overflow: hidden; margin-right: 10px;}
.movie-item{width: 100%;}
.poster-wrap{overflow: hidden; border-radius: 20px;}
.overlay_box{overflow: hidden; position: absolute; width: 100%; height: 0;}
.overlay_box.active{overflow: inherit; position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%;}
.overlay_box.active:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.7;}

.week_inner{}
.week_list_wrap{display: block; position: relative; width: 100%; min-height: 390px; margin-top: 25px; padding: 23px 10px 10px; padding-top: 17px; background-color: rgba(255, 255, 255, 0.5); box-shadow: 0px 0px 60px 0px rgba(0, 96, 163, 0.08); border-radius: 48px 48px 18px 18px; box-sizing: border-box;}
.week_list{display: block; position: relative; width: 100%; border-radius: inherit; box-sizing: border-box;}
.week_item{float: left; width: 100%;}
.week_item .date_box{display: inline-block; position: relative; height: 100%; text-align: center; text-align: center; width: 90px;}
.week_item .date_box:after{display: block; position: absolute; content: ''; top: 0; right: 0; background: #000; width: 2px; height: 100%;}
.week_item .info_box{display: inline-block; width: calc(100% - 95px);  height: 100%; position: relative; }
.week_item .info_box .sch-movie{width: 100%; overflow: hidden; display: inline-block; max-height: 60px;}
.week_item .info_box .sch-movie .info p{display: none; font-size: 14px; line-height: 20px;}
.week_item .info_box .sch-movie .info .time{display: block;}

.main-lecture{}
.main-lecture .tab-list ul{display: flex;}
.main-lecture .tab-list li a{color: #C5C5C5; border: 1px solid #C5C5C5; border-radius: 20px; padding: 1px  10px; margin-right: 15px;}
.main-lecture .tab-list li.active a{color:#fff; border: 1px solid #457FFF; background-color: #457FFF;}
.lec-btn{display: none;}
.lec-detail li img{width: 19px; height: 19px;}

.rental_list ul{display: flex; flex-wrap: wrap; gap: 10px; margin: 0; padding: 0;}
.rental_list ul li { flex-basis: calc(33.33% - 10px); }
.rental_list ul li a{display: flex ; flex-direction: column; align-items: center; justify-content: center;}


/* ========== 태블릿 (min-width: 768px) ========== */
  @media (min-width: 768px) {

  }
/* ========== 데스크탑 (min-width: 1024px) ========== */
  @media (min-width: 1024px) {

  }
/* ========== 일반 데스크탑 시작 (min-width: 1280px) ========== */
  @media (min-width: 1280px) {

  }
/* ========== 넓은 데스크탑 (min-width: 1400px) ========== */
  @media (min-width: 1400px) {

  }
/* ========== 와이드 데스크탑 (min-width: 1600px) ========== */
  @media (min-width: 1600px) {

 }

 /* ========== PC전용요소 (max-width: 1279px) ========== */
  @media (max-width: 1279px) {
    
 }