@charset "utf-8";

.border-0{border: unset !important;}
.sub-container { width: 100%; margin: 0 auto; position: relative;}
.sub-container > div > h4{position: relative; padding-left: 20px; line-height: 140%; margin-top: 40px;}
.sub-container > div > h4:after{position: absolute; content: ''; width: 60px; height: 56px; background: url(../images/edu-bg-dot.png) no-repeat; background-size: cover; top: -15px; left: 10px; z-index: -1;}
.content-box{position: relative; margin-top: 30px;}
.info-card-container{display:block;justify-content:center;gap:30px;flex-wrap:wrap;}
.info-card{display:flex;align-items:center;background-color:#ffffff;padding:30px 40px;padding-left: 50px; word-break: auto-phrase;margin-bottom: 20px; border-radius:20px;box-shadow: 0 8px 25px #d0e1ec;flex:1;min-width:300px;width: 100%;}
.card-icon{width:60px;height:60px;min-width:60px;border-radius:50%;background:linear-gradient(145deg, #006aff, #00afff);display:flex;align-items:center;justify-content:center;font-size:28px;color:white;margin-right:20px;}
.card-text h5{margin:0 0 8px 0;font-weight:700;color:#333;}
.card-text p{margin:0;color:#555;line-height:1.6;}
.card-text p small{color:#777;}
.info-table {word-break: keep-all; width: 100%; border-collapse: collapse; border-top: 2px solid #555; color: #333; margin-top: 30px; margin-bottom: 90px;}
.info-table th, .info-table td { padding: 15px 20px; border-bottom: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; vertical-align: middle; }
.info-table th:last-child, .info-table td:last-child{border-right: 0;}
.info-table th[scope="row"] { background-color: #f7f8fa; font-weight: 600; width: 130px; text-align: center; }
.info-table td { text-align: left; }
.info-table td small { display: block; color: #777; margin-top: 8px; }
.info-table .table-head { background-color: #fafafa; text-align: center; font-weight: 500; color: #555; }
.info-table .price-value { text-align: center; font-weight: 500; }

.notice-wrapper{width:100%;}
.notice-title-wrap{position: relative;}
.table-notice {font-weight: bold; color: #333; margin-bottom: 15px; padding-left: 5px; }
.notice-content{border-bottom: 1px solid #ccc; padding-bottom: 30px;}
.notice-content .etiquette-list{list-style:none;padding-left:0;margin:0;color:#555;}
.notice-content .etiquette-list li{position:relative;padding-left:24px;margin-bottom:5px;line-height:1.7;word-break:keep-all;}
.notice-content .etiquette-list li::before{content:'';position:absolute;left:10px;top:0.7rem;width: 3px;height: 3px;border-radius: 50%; font-weight:bold;background-color:#333;}
.notice-content .etiquette-list .listyle-no li{padding-left: 0;}
.notice-content .etiquette-list .listyle-no li:before{display: none;}
.waring_text { position: relative; padding-left: 24px; color: #cc3142; }
.waring_text:after { display: inline-block; position: absolute; top: 2px; left: 0; width: 19px; height: 19px; text-align: center; line-height: 19px; border-radius: 50%; color: #fff; background: #cc3142; content: '!';}

.contact-banner { display: flex; align-items: center; padding: 22px 20px 22px 12px; background: linear-gradient(90deg, #629be0 0%, #6869e5 100%); border-radius: 20px; color: white; position: relative; overflow: hidden; max-width: 800px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); margin-bottom:50px;}
.contact-banner .icon-wrapper { flex-shrink: 0; width: 70px; height: 70px; background: radial-gradient(circle, white, #e0e9f8); border-radius: 50%; display: flex; justify-content: center; align-items: center; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); margin-right: 18px; position: relative; z-index: 1; }
.contact-banner .icon-wrapper img{width: 100%; height: 100%;}
.contact-banner .calendar-icon { width: 40px; height: 40px; }
.contact-banner .text-content { position: relative; z-index: 1;}
.contact-banner .main-text { margin: 0; font-weight: bold; line-height: 1.3; }
.contact-banner .sub-text { margin: 4px 0 0; opacity: 0.95; font-size: var(--font-size-sm);}

.external-info{box-sizing:border-box;padding-left:24px;}
.external-info dl{border:1px solid #eee;max-width:800px;box-sizing:border-box;padding:10px;border-radius:5px;}
.external-info dd p{margin-bottom:0;}

/*교육안내*/
.temp_step_box{display:block;position:relative;width:100%;box-sizing:border-box;}
.temp_step_box .step_list{display:block;position:relative;width:100%;box-sizing:border-box;}
.temp_step_box .step_list .step_item{margin-left: 36px;display:inline-block;position:relative;padding:20px 25px;background-color:#fff;border-radius:18px;vertical-align:top;box-sizing:border-box;box-shadow:0 0 15px 5px rgba(0, 0, 0, 0.05); width: calc((100% - 40px) / 2);}
.temp_step_box .step_list .step_item:nth-child(2n+1) { margin-left: 0; }
.temp_step_box .step_list .step_item:before{display:block;position:absolute;top:calc((100% - 43px) / 2);background:url(../images/double_arrow.svg) no-repeat center center;border-radius:100%;content:'';box-sizing:border-box;left: calc(100% + 3px); width: 35px; height: 35px; transform: scale(0.8); transform-origin: center center;}
.temp_step_box .step_list .step_item:nth-child(2n):before{display: none;}
.temp_step_box .step_list .step_item:last-child:before{display:none;}
.temp_step_box .step_list .step_item:nth-child(n+3) {margin-top: 15px;}
.temp_step_box .step_list .step_item .icon_box{display:block;position:relative;width:100%;height:108px;box-sizing:border-box;text-align:center;}
.temp_step_box .step_list .step_item .icon_box .icon{max-width: 110px; display:inline-block;position:relative;top:50%;transform:translateY(-50%);vertical-align:top;box-sizing:border-box;width:100%;height:110px;background-size:contain;}
.temp_step_box .step_list .step_item .icon_box .icon1{background:url(../images/temp_step_icon1.png) no-repeat left top;}
.temp_step_box .step_list .step_item .icon_box .icon2{background:url(../images/temp_step_icon2.png) no-repeat left top;}
.temp_step_box .step_list .step_item .icon_box .icon3{background:url(../images/temp_step_icon3.png) no-repeat left top;}
.temp_step_box .step_list .step_item .icon_box .icon4{background:url(../images/temp_step_icon4.png) no-repeat left top;}
.temp_step_box .step_list .step_item .icon_box .icon5{background:url(../images/temp_step_icon5.png) no-repeat left top;}
.temp_step_box .step_list .step_item .icon_box .icon-n5{background:url(../images/temp_step_icon-n5.png) no-repeat left top;}
.temp_step_box .step_list .step_item .icon_box .icon-n6{background:url(../images/temp_step_icon-n6.png) no-repeat left top;}
.temp_step_box .step_list .step_item .text_box{display:block;position:relative;width:100%;height:42px;box-sizing:border-box;text-align:center;}
.temp_step_box .step_list .step_item .text_box .text{display:inline-block;position:relative;top:50%;transform:translateY(-50%);color:#333;line-height:21px;letter-spacing:-0.03em;font-weight:400;word-break:keep-all;vertical-align:top;box-sizing:border-box;}

.refund-table .info-table{margin-bottom:var(--spacing-md);}
.refund-table .info-table td{text-align:center;}

.facility-info{margin-bottom:var(--spacing-lg)}
.facility-info .step_list .step_item{width:calc((100% - 20px) / 2);padding:10px;margin-left:var(--spacing-md);margin-bottom:var(--spacing-md);}
.facility-info .step_list .step_item:before{display:none;}
.facility-info .icon_box{overflow:hidden;border-radius:10px;height:0 !important;padding-bottom:45%;margin-bottom:var(--spacing-sm);}
.facility-info .icon_box img{position:absolute;top:0;left:0;width:100%;height:100%;}
.facility-info .step_list .step_item .text_box{height:auto;}
.facility-info .step_list .step_item .text_box .text{position:static;transform:none;}

.map-container .root_daum_roughmap{position:relative;overflow:hidden;height:0;padding-bottom:42%;width: 100%;border-radius:30px;}
.map-container .wrap_map{position: absolute !important;top:0;left:0;width:100%;height: 100% !important;}
.map-container .root_daum_roughmap .cont,.map-container .root_daum_roughmap .wrap_controllers{display:none;}
.map-container .map_border{border:0 !important;background-color:transparent !important;}

.map-info{position:relative;top:-30px;z-index:5;}
.map-info-wrap{box-sizing:border-box;padding:20px;border-radius:20px;box-shadow:0 0 15px 5px rgba(0, 0, 0, 0.05);background-color:#fff;background-image:url("../images/edu-bg-dot.png");background-repeat:no-repeat;background-position:98% 14%;background-size:60px;}
.map-info-tit p strong{color:var(--color-primary);}
.map-info-a-tit{display:inline-block;background:#f4f6f8;box-sizing:border-box;padding:3px 8px;border-radius:15px;color:var(--color-dark-gr);}
.map-info-a-tit i{vertical-align:middle;position:relative;top:-2px;}
.map-info-article:first-child{margin-bottom:var(--spacing-sm);}



.kk-map{color:var(--color-primary);border:1px solid var(--color-border);display:inline-block;box-sizing:border-box;padding:3px 0;width:100%;max-width:240px;margin-top:var(--spacing-sm);text-align:center;border-radius:35px;transition:0.3s;}
.kk-map:hover{background:var(--color-primary);color:#fff;}

.location-article{border:1px solid var(--color-border);border-radius:20px;box-sizing:border-box;padding:20px;}
.lo-article-title{margin-bottom:var(--spacing-md);}
.lo-article-cont dl + dl{margin-top:var(--spacing-md);}
.lo-article-cont dl dt{color:var(--color-dark-gr);font-weight:600;}
.lo-article-cont dl dd{box-sizing:border-box;padding-left:15px;position:relative;}
.lo-article-cont dl dd:before{content:"•";position:absolute;top:0;left:0;}
.lo-article-cont.bus-dd dl dd.bus-dd{padding-left:0;}
.lo-article-cont.bus-dd dl dd:before{content:"";}

.bus-info > li{position:relative;box-sizing:border-box;display:inline-block;margin-right:var(--spacing-lg);}
.bus-info > li:before{content:"";position:relative;top:-2px;display:inline-block;color:#fff;box-sizing:border-box;padding:1px 5px;border-radius:3px;margin-right:3px;}
.bus-info > li.bus-t1:before{content:"지선";background:#47af1b;font-size:0.8rem;}
.bus-info > li.bus-t2:before{content:"일반";background:#00afbd;font-size:0.8rem;}
.bus-info > li.bus-t3:before{content:"마을";background:#47af1b;font-size:0.8rem;}

.sub-line3::before{content:"3";position:relative;top:-2px;width:20px;display:inline-block;text-align:center;border-radius:50%;background:#cea43a;color:#fff;font-size:0.8rem;margin-right:3px;}

.location-article + .location-article{margin-top:var(--spacing-lg);}
.location-article:last-child{margin-bottom:var(--spacing-lg);}

.movie-list .archive-list > li{border:0;}
.movie-list .archive-list > li > a{padding-bottom:var(--spacing-sm);}
.movie-list .archive-list > li .thumb-img{border-radius:10px;box-shadow:4px 4px 8px rgba(0,0,0,0.26);margin-bottom:var(--spacing-md);}
.thumb-tit .movie-title>p{margin-bottom:0;line-height:20px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.thumb-tit .movie-title .age-icon{display:inline-block;vertical-align:middle;position:relative;top:-3px;}
.thumb-tit .movie-title .age-icon img{width:20px;}
.thumb-tit .movie-title .title-text{line-height:23px;font-weight:600;font-size:1.2rem;}
.movie-more{box-sizing:border-box;padding:20px;padding-top:0;}
.movie-more-flex{display:flex;flex-wrap:wrap;justify-content:space-between;}
.movie-more-flex p{margin-bottom:0;}
.movie-more-flex p.movie-ticket-a a{color:var(--color-primary);}

.movie-info-top{box-sizing:border-box;padding-top:var(--spacing-xl);padding-bottom:var(--spacing-xl);}
.movie-info-flex{display:flex;flex-wrap:wrap;gap:40px;max-width:1200px;margin:0 auto;}
.m-info-photo{width:560px;}
.poster-area{max-width:300px;margin:0 auto;}
.poster-area p {position:relative;height:0;padding-bottom:142.56%;overflow:hidden;box-shadow:4px 4px 8px rgba(0,0,0,0.26);}
.poster-area p img {position:absolute;left:0;top:0;display:block;width:100%;height:100%;object-fit:contain;transition:.3s;}
.m-info-text{flex:1;}

.dl-row{display:flex;}
.dl-row + .dl-row{margin-top:var(--spacing-sm);}
.dl-row dt{width:160px;color:var(--color-dark-gr);}
.m-info-title{margin-bottom:var(--spacing-lg);}
.m-info-title .age-icon{top:-5px;margin-right:10px;}
.m-info-title .age-icon img{vertical-align:middle;}
.m-info-title h3{display:inline-block;}

.movie-reser-btn{margin-top:var(--spacing-md);}
.movie-reser-btn a{display:block;background:var(--color-primary);color:#fff;max-width:360px;text-align:center;line-height:60px;border-radius:5px;}

.inner-movie-detail{background:#F5F8FD;padding-bottom:var(--spacing-lg);}
.movie-inner{max-width: 1200px; margin: 0 auto; box-sizing: border-box;}
.movie-detail-article{background:#fff;box-sizing: border-box;padding:20px;border-radius:15px;}
.movie-detail-article + .movie-detail-article{margin-top:var(--spacing-lg);}
.movie-article-title{margin-bottom:var(--spacing-md);}

.movie-detail-tap {position:relative;overflow-x:auto;overflow-y:hidden;white-space: nowrap;-webkit-overflow-scrolling: touch;margin-bottom:var(--spacing-lg);padding-top:var(--spacing-lg);}
.movie-detail-tap::before{content:"";position:absolute;bottom:0;left:0;display:block;width:100%;height:2px;background:var(--color-border);}
.movie-tab-sticky{position:sticky;top:0;background:#F5F8FD;z-index:10;}
.movie-tap{display: inline-flex;gap:10px;padding:0;margin:0;}
.movie-tap li{flex: 0 0 auto;}
.movie-tap a {display:block;padding: 10px 16px;text-decoration: none;color: #333;position:relative;}
.movie-tap a::after{opacity: 0; position: absolute; left: 50%; bottom:0; width: 0; height: 2px; transform: translateX(-50%); border-radius: 5px; background-color:var(--color-primary); content: ''; z-index: 11; transition: .3s;}
.movie-tap a.active{font-weight: bold;}
.movie-tap a.active::after{opacity: 1; width:100%; transition: .3s;}
.movie-tap a:hover::after{opacity: 1; width:100%; transition: .3s;}

.detail-timetable>ul>li + li{margin-top:var(--spacing-md);}
.timet-date{display:flex;flex-wrap: wrap;gap:20px;align-items: center;}
.timet-date .date-area{width:100px;}
.timet-date .time-area{flex:1;}
.timet-date .time-area ul{display:flex;gap:10px;}
.timet-date .time-area ul li a{display:inline-block;border:1px solid var(--color-border);box-sizing:border-box;padding:5px 0;min-width:80px;text-align:center;border-radius:5px;color:var(--color-primary);transition:0.3s;}
.timet-date .time-area ul li a:hover{background:var(--color-primary);color:#fff;}

.detail-photos ul{display:flex;gap:15px;}
.detail-photos ul li{flex:1;max-width:calc(100% / 4);}
.photo-size{position:relative;height:0;padding-bottom:52%;overflow:hidden;box-shadow:4px 4px 8px rgba(0,0,0,0.26);}
.photo-size img {position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;transition:.3s;}

.youtube-thmb .photo-size{padding-bottom:56%;}
.rating-starts-area, .star-numb-area, .rating-date{display:inline-block;}
.rating-starts-area{margin-right:10px;}
.rating-starts-area i{color:var(--color-primary);}
.rating-starts-area.star-4 i:nth-child(5){color:var(--color-border);}
.rating-starts-area.star-3 i:nth-child(5){color:var(--color-border);}
.rating-starts-area.star-3 i:nth-child(4){color:var(--color-border);}
.rating-starts-area.star-2 i:nth-child(5){color:var(--color-border);}
.rating-starts-area.star-2 i:nth-child(4){color:var(--color-border);}
.rating-starts-area.star-2 i:nth-child(3){color:var(--color-border);}
.rating-starts-area.star-1 i:nth-child(5){color:var(--color-border);}
.rating-starts-area.star-1 i:nth-child(4){color:var(--color-border);}
.rating-starts-area.star-1 i:nth-child(3){color:var(--color-border);}
.rating-starts-area.star-1 i:nth-child(2){color:var(--color-border);}
.rating-date{margin-left:10px;color:var(--color-dark-gr);}

.rating-article{background:#f8f8fa;padding:20px;border-radius:15px;}
.review-delete{background:var(--color-dark-gr);color:#fff;display:inline-block;padding:3px 5px;border-radius:5px;}
.review-delete i{position:relative;top:1px;}
.del-btn-area{margin-bottom:0;margin-top:var(--spacing-sm);text-align:right;}

.rating-wrap + .rating-wrap{margin-top:var(--spacing-lg);}

.movie-rating-write{margin-bottom:var(--spacing-lg);}
.write-wrap{border:1px solid var(--color-border);border-radius:15px;}
.write-text-area{padding:20px;padding-bottom:10px;box-sizing:border-box;}
.write-text-area textarea{width:100%;border:0;min-height:60px;}
.write-text-btns{border-top:1px solid var(--color-border);box-sizing:border-box;padding:10px;text-align:right;background:#f8f8fa;border-radius:0 0 15px 15px;}
.write-text-btns .rating-select{display:inline-block;}
.write-text-btns .rating-select select{min-width:110px;}
.write-text-btns .rating-submit{background:var(--color-primary);color:#fff;height:38px;border-radius:5px;padding:0 15px;}

.youtube-text{text-align:center;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.youtube-video{margin-bottom:var(--spacing-xl);}
.iframe-wrap{position:relative;width:100%;padding-bottom:56.25%;height:0;overflow:hidden;}
.iframe-wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0;z-index:1;}

.detail-photo-big{margin-bottom:var(--spacing-xl);}
.still-btn{display:block;width:100%;}

/* .movie-tab-program .movie-detail-tap::before{display:none;}
.movie-tab-program .movie-tap::before{content:"";position:absolute;bottom:0;left:0;display:block;width:100%;height:2px;background:var(--color-border);} */

.movie-program .archive-list > li{width:calc(100% / 2 - 13px)}
.movie-program .archive-list .thumb-img{margin-bottom:0;border-radius:15px;}
.mov-prg-flex{display:flex;flex-direction: row;align-items:flex-start;gap:20px;}
.mov-prg-thmb{flex:0 0 200px}
.mov-prg-info{flex:1;min-width:0;padding-top:20px;padding-right:20px;}
.mov-prg-info .thumb-tit{margin-bottom:var(--spacing-md);}
.info-flex .dl-row dt{width:100px;}
.info-flex .dl-row dd{flex:1;min-width:0;word-break: keep-all;}
.info-btns{margin-top:var(--spacing-md);}
.info-btns p{display:inline-block;}
.info-btns p a{border:1px solid var(--color-dark-gr);display:inline-block;padding:3px 8px;border-radius:5px;transition:0.3s;}
.info-btns p .stop-ticket{background:var(--color-dark-gr);display:inline-block;padding:3px 8px;border-radius:5px;color:#fff;cursor:default;}
.info-btns p a:hover{background:var(--color-primary);color:#fff;border-color:var(--color-primary);}

.mprog-detail-info .dl-row dt{width:100px;}
.pg-row{display:flex;gap:20px;border-top:1px solid var(--color-border);box-sizing:border-box;padding:var(--spacing-lg) 0;align-items:center;}
.pg-row dt{width:300px;}
.pg-row dt a{color:var(--color-primary);}
.pg-row dd{flex:1;}
/* .pg-row + .pg-row{margin-top:var(--spacing-lg);} */
.pg-inner-ul > li + li{margin-top:var(--spacing-md);}

.p-movie-flex{display:flex;gap:20px;}
.p-movie-thmb{width:80px;}
.p-movie-info{flex:1;}
.p-movie-info .m-info-title{margin-bottom:0;}
.p-movie-info .m-info-title a{font-size:1rem;font-weight:600;word-break:keep-all;}
.p-movie-info .m-info-title .age-icon{top:-1px;margin-right:5px;width:18px;}
.p-movie-info-detail p{margin-bottom:var(--spacing-sm);color:var(--color-dark-gr);}
.p-movie-info-detail p span{margin-right: var(--spacing-sm);}
.p-movie-info-detail .info-btns{margin-top:var(--spacing-sm);}
.mprg-movie-list li{box-sizing:border-box;padding-top:var(--spacing-md);}

.btns-mprg{display:grid;gap: 20px;grid-template-columns: repeat(2, 1fr);}
.movie-reser-btn a.back-mprg{background:#fff;color:var(--color-primary);border:1px solid var(--color-primary);}
.movie-reser-btn span.ticket-close{display:block;text-align:center;max-width:360px;line-height:60px;border-radius:5px;background:var(--color-dark-gr);color:#fff;cursor:default;}

.edu-list .archive-list .thumb-img{padding-top:100%;}
.edu-list .mov-prg-thmb{flex:0 0 260px;position:relative;}
.edu-list-ul > li > a{padding:0;}
.edu-list .archive-list .thumb-tit p{white-space:normal;}

.inner-edu-detail{padding-top:var(--spacing-xl);}
.edu-detail .poster-area{max-width:500px;}
.edu-detail .poster-area p{padding-bottom:100%;}
.edu-detail .poster-area p img{object-fit:cover;}

.teacher-info-wrap .date-area{text-align:center;font-size:1.2rem;}

.class-info .info-table{margin-top:0;}
.class-info-a-tit{margin-bottom:var(--spacing-md);}
.class-info-article + .class-info-article{margin-top:var(--spacing-md);}
.class-info .notice-content{padding-bottom:var(--spacing-md);}

.edu-bottom-btn{display:flex;justify-content: center;}
.edu-bottom-btn a{width:100%;}
.edu-bottom-btn button{width:100%;display:block;background:var(--color-primary);color:#fff;max-width:360px;text-align:center;line-height:60px;border-radius:5px;}

.edu-form-title .movie-info-flex{border-bottom:1px solid var(--color-border);}
.edu-form-title + .movie-info-flex{margin-top:var(--spacing-xl);}


.schedule_panel .schedule_month {display: flex;justify-content: space-around;align-items: center;height:120px;padding: 0 62px;border-radius: 10px;border:1px solid var(--color-border)}
.schedule_panel .schedule_month .month_current {color: var(--color-primary);font-size:2rem;font-weight:800;}
.schedule_panel .schedule_month a {color:#717a81;font-size:1.6rem;}
.schedule_panel .schedule_month a i{vertical-align: middle;}


/* 학사일정 calendar */
.schedule_calendar{
  display:inline-block;
  position:relative;
  width:70%;
  padding-top:var(--spacing-xl);
  padding-right:65px;
  box-sizing: border-box;
  vertical-align:top
}
.schedule_calendar:before{content:"";display:inline-block;position:absolute;right:0;bottom:-10px;width:1px;height:calc(100% - 123px);border-right:2px dotted var(--color-border);}
.top-cale{text-align:center;position:relative;}
.schedule_calendar .cal_month {font-size:1.6rem;font-weight:800;}
.schedule_calendar .call_today{position:absolute;right:0;background:var(--color-primary);color:#fff;box-sizing:border-box;padding:3px 15px;border-radius:15px;}
.schedule_calendar > table {margin-top:var(--spacing-md);width:100%;}
.schedule_calendar col {width: calc(100%/7);}
.schedule_calendar .cal_headDay {color:#222;font-size:1.2rem;padding:15px 0;}
.schedule_calendar .cal_headDay:first-child {color: #e32165;}
.schedule_calendar .cal_headDay:last-child {color: #025dcf;}
.schedule_calendar .cal_day{position:relative;width:100%;height:88px;margin-bottom:2px;text-align:left;}
.schedule_calendar .cal_week {border-bottom: 1px solid var(--color-border);}
.schedule_calendar .cal_week:first-child {border-top: 2px solid #000;}
.schedule_calendar .cal_week:first-child > td {padding-top: 7px;}
.schedule_calendar .date {display:inline-block;position: relative;width: 100%;box-sizing: border-box;border: none;border-radius: 10px;text-align:left;}
.schedule_calendar .date span {display:inline-block;width:32px;padding: 1px 2px 1px 1px;border-radius: 14px;text-align:center;color:#222;font-size:1rem;font-weight:600;transition:0.3s;}
.schedule_calendar th.active .date span {background-color:var(--color-primary);color:#fff;}
.schedule_calendar .date:hover span{background-color: rgba(0,102,255,0.5);color: #fff;}
.schedule_calendar .cal_day_head th {padding: 12px 0 6px;}
.schedule_calendar .cal_day_body td {vertical-align: top;}
.schedule_calendar .cal_day_body td .info_min_h{min-height:84px;}
.schedule_calendar .cal_day_body .info_sub{display: block;position: relative;max-width: 100%;height: 21px;margin-bottom: 3px;}
.schedule_calendar .cal_day_body .info_sub .info_inner{display: inline-block;overflow: hidden;position: absolute;width: 100%;padding: 0 3px;font-size: 0.9rem;line-height: 21px;white-space: nowrap;text-overflow: ellipsis;}

.schedule_calendar .cal_day_body .info_sub .info_inner img{width:16px;display:inline;position:relative;top:2px;}

.schedule_info {display: inline-block;width:25.1%;margin-top:var(--spacing-xl);margin-left:50px;padding-top:48px;}
.schedule_info .info_top {padding: 21px 0;border-bottom: 2px solid #222;text-align: center}
.schedule_info .info_top span {color: #222;font-size: 21px;font-weight: 600;line-height: normal;letter-spacing: -0.02em;}
.schedule_info .info_bot {padding-top: 10px;}
.schedule_info .info_bot li {padding: 20px;border-bottom: 1px solid #dadce0;background-color: #fff;}
.schedule_info .info_bot p {margin-bottom: 8px;color: #222;font-size: 19px;font-weight: 400;line-height: normal;letter-spacing: -.02em;}
.schedule_info .info_bot p span {color: #000;}
.schedule_info .info_bot li>span {display: block;color: #444;font-size: 16px;font-weight: 400;line-height: normal;letter-spacing: -.02em}
.schedule_info .info_bot.empty {position: relative;min-height: 230px;margin-top: 30px;border: 1px solid #dadce0;border-radius: 7px;}
.schedule_info .info_bot.empty span {position: absolute;top: calc(50% - 68px);left: calc(50% - 68px);padding-top: 110px;color: #728189;font-size: 17px;font-weight: 400;line-height: normal;letter-spacing: 0;}
.schedule_info .info_bot.empty span:before {display: block;position: absolute;top: 0;left: calc(50% - 45px);width: 90px;height: 90px;border-radius: 40px;background: url("../images/program/cts4526_schedule_empty.png") no-repeat center;content: '';box-shadow: 3px 4px 50px 5px rgba(20,126,186,0.1);}


.mvs-detail-wrap .mvs-time{margin-right:var(--spacing-sm);display:inline-block;min-width:46px;}
.mvs-detail-wrap .mvs-icon img{width:18px;display:inline;position:relative;top:3px;}

.schedule_calendar .date span.today{position:absolute;top:0;right:0;width:60px;font-size:0.8rem;box-sizing:border-box;padding:3px 5px;background-color:#F44336 !important;}

.f-inner.priv{box-sizing:border-box;padding:0 15px;max-width:1400px;margin:0 auto;}

.prv-line-box{border:4px solid var(--color-border);box-sizing:border-box;padding:var(--spacing-xl);}
.prv-line-box p{margin-bottom:0;}

.priv-article + .priv-article{margin-top:var(--spacing-lg);}

.priv-title{margin-bottom:var(--spacing-md);}
.priv-a-content > ol > li{box-sizing:border-box;padding-left:var(--spacing-lg);}
.priv-a-content > ol > li + li{margin-top:var(--spacing-sm);}
.priv-a-content > ol > li > p{margin-bottom:0;}
.priv-a-content > ul > li{box-sizing:border-box;padding-left:var(--spacing-lg);}
.priv-a-content > ul > li + li{margin-top:var(--spacing-sm);}
.priv-a-content > ul > li > p{margin-bottom:0;}
.priv-a-content > ol > li > ul{box-sizing:border-box;padding-left:var(--spacing-lg);}
.priv-a-tit p{margin-bottom:var(--spacing-sm);font-size:1.1rem;font-weight:600;}

.priv-a-content > ol > li > ul{box-sizing:border-box;padding-left:var(--spacing-lg);}
.priv-a-content > ol > li > ol{box-sizing:border-box;padding-left:var(--spacing-lg);}

.email-p{margin-top:var(--spacing-lg);margin-bottom:var(--spacing-sm) !important;}

.f-inner.members-inner{box-sizing:border-box;padding:0 15px;max-width:1400px;margin:50px auto;}
.login-form-wrap{border:1px solid var(--color-border);box-shadow:0 10px 17px rgba(0,0,0,0.1);border-radius:15px;max-width:600px;margin:0 auto;}
.login-box-title h3{background:var(--color-primary);color:#fff;text-align:center;border-radius:15px 15px 0 0;box-sizing:border-box;padding-top:var(--spacing-md);padding-bottom:var(--spacing-md);font-size:1.2rem;}
.login-form-wrap .login-box{width:100%;max-width:400px;margin:30px auto;}
.login-form-wrap .login-box .inp-box + .inp-box{margin-top:var(--spacing-md);}
.login-form-wrap .login-box .inp-box input[type="text"],.login-form-wrap .login-box .inp-box input[type="password"]{width:100%;}

.login-btn button{width:100%;display:block;background:var(--color-primary);color:#fff;text-align:center;line-height:60px;border-radius:5px;}
.login-add{margin-top:var(--spacing-md);}
.login-add p{text-align:center;}
.login-add p span{color:var(--color-border);display:inline-block;margin:0 var(--spacing-sm);}

.join-type{max-width:1200px;margin:35px auto;}
.join-type-flex{display:flex;flex-wrap:wrap;gap:60px;}
.j-type-article {flex: 1 1 calc(50% - 30px);max-width:calc(50% - 30px);box-sizing: border-box;position:relative;}

.j-type-article a{display:block;border:2px solid var(--color-border);border-radius:15px;transition:0.3s;}
.j-type-article a:hover{box-shadow:0 10px 17px rgba(0,0,0,0.1);border-color:var(--color-primary);}
.j-article-inner{text-align:center;}
.j-type-icon{box-sizing:border-box;padding:25px 0 10px;}
.j-type-icon img{height:60px;margin:0 auto;}
.j-type-title p{margin-bottom:0;font-size:1.4rem;font-weight:600;line-height:1.4;}
.j-type-title p.title-small-letter{color: var(--color-dark-gr);font-size:1rem;font-weight:400;}
.j-type-info{margin-top:var(--spacing-md);box-sizing:border-box;padding:10px;}
.j-type-info p{color: var(--color-dark-gr);}

.steps-dv p{font-weight:600;text-align:center;margin-bottom:var(--spacing-sm);background:var(--color-primary);color:#fff;border-radius:3px;}
.join-step{border-bottom:0;padding:20px 0 !important;}
.join-step .step_item{box-shadow:none !important;border:2px solid var(--color-border);}

.join-steps-top .movie-detail-article{max-width:1200px;margin:0 auto;}
.join-steps-top .steps-dv p{background:var(--color-border);color:#000;}
.join-steps-top .active .steps-dv p{background:var(--color-primary);color:#fff;}
.join-steps-top .join-step{padding-bottom:0 !important;}
.join-steps-top .join-step .step_item{border:0;padding-bottom:0;}
.join-steps-top .movie-detail-article{padding-bottom:0;}

.like-btn{display:inline-block;background:var(--color-primary);color:#fff;box-sizing:border-box;padding:3px 15px;border-radius:5px;}
.postnum{display:inline-block;height:50px;line-height:50px;background:var(--color-primary);color:#fff;box-sizing:border-box;padding:0px 15px;border-radius:5px;}
.fin-icon{margin-bottom: var(--spacing-lg);margin-top:var(--spacing-lg);}
.fin-icon img{width:80px;margin:0 auto;}
.join_finish{text-align:center;}
.fin-text .fin-t-p1{font-size:1.4rem;font-weight:600;margin-bottom:var(--spacing-sm);}
.fin-text .fin-t-p2{margin-bottom:var(--spacing-xl);color:var(--color-dark-gr);}

.intro-inner{max-width:100%;}
.intro-large-text span{position:relative;display:inline-block;font-size:2.4rem;font-family: 'NanumSquareNeoHeavy', sans-serif;text-decoration:underline;text-decoration-color:rgba(145,199,255,0.38);text-decoration-style:solid;text-decoration-thickness:8px;}
.intro-hello .section-title{text-align:center;}
.intro-section-padding{box-sizing:border-box;padding:75px 0;}
.mid-height{text-align:center;margin-bottom:var(--spacing-xl);}
.mid-height .h-line{display:inline-block;width:1px;height:70px;background:#000;}
.intro-inner-wrap{max-width:1600px;margin:0 auto;}
/* .inner-bg-pink{position:relative;background-color:#fbf2ff;box-sizing:border-box;padding:120px 60px 60px;border-radius:0 250px 0 0;} */
/* .inner-bg-pink::before{display: block; position: absolute; top: -10px; right: 130px;  bottom: auto; width: 94px; height: 88px; background-image: url(../images/bottom-bg-dot.png); background-repeat: no-repeat; background-position: center; background-size: cover; content: '';} */
/* .intro-flex{display:flex;flex-wrap:wrap;} */

.inner-bg-pink.bg-gra{box-sizing:border-box;padding:80px 60px 60px;}
.intro-t-left p{font-size:1.2rem;text-align:center;}
.intro-p-right{flex:1;text-align:center;}
.intro-p-right .inner-flex{display:block;}
.intro-p-right img{max-width:240px;width:100%;margin:0 auto;}
.inner-flex{display:flex;justify-content: flex-end;height: 100%;align-items: flex-end;}
/* .under-span{display:inline-block;text-decoration:underline;text-decoration-color:#eccdff;text-decoration-style:solid;text-decoration-thickness:5px;font-weight:600;} */
.under-span{color:var(--color-primary);font-weight:600;}

.visition-body{display: flex;justify-content: center;align-items: center;margin: 0 auto;}
.vision-container {position: relative;margin:0 auto;}
.vision-container::before{content:"";display:block;height: 550px;width: 550px;border-radius:50%;border: 4px dotted #fff;position: absolute;left: 50%;transform: translate(-50%,-50%);top: 50%;/*background-color: rgba(255,255,255,0.75);background-color:rgba(75,80,248,0.07);*/z-index:5;}
.vision-core {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
  /* background: #0066ff; */
  background:var(--color-primary);
  color: #fff;border-radius: 50%;padding: 2rem;text-align: center;font-weight: bold;font-size: 1.6rem;line-height:1.4;width: 300px;height: 300px;display: flex;justify-content: center;align-items: center;box-shadow: 0 4px 12px rgba(0,0,0,0.2);word-break:keep-all;z-index:10;flex-flow:column;}
.vision-core img{margin-bottom:var(--spacing-sm);}
.circle-area{width:100%;height:100%;position:relative;background:#fff;border-radius:30px;box-sizing:border-box;padding:45px 0;
  /*
  background-image: url("../images/v-bg1.svg");
  background-repeat:no-repeat;
  background-size: 110% auto;
  background-position: center center;
  */
}
.vision-item {
  width: 180px;height: 180px;
  /*
  background: #3C57B3;
  border: 2px solid #1E3A8A;
  color:#fff;
  */
  background:var(--color-gra);
  border:2px solid var(--color-primary);
  border-radius: 50%; display: flex;justify-content: center;align-items: center;text-align: center;font-size: 1.2rem;letter-spacing:-0.1rem;padding:0.2rem;box-shadow: 0 4px 8px rgba(0,0,0,0.1);transition: transform 0.2s ease, background 0.3s ease;word-break: keep-all;line-height:1.2;position:relative;z-index:5;flex-flow:column;}
.vision-item:before{content:"";position:absolute;display:block;}
.vision-item.d-line-1:before{width: 20%;height:1px;border-top:4px dashed var(--color-border);z-index: 0;left: 80%;top: 95%;transform: rotate(45deg);}
.vision-item.d-line-2:before{width: 20%;height:1px;border-top:4px dashed var(--color-border);z-index: 0;left: 0;top: 95%;transform: rotate(-45deg);}
.vision-item.d-line-5:before{width: 20%;height:1px;border-top:4px dashed var(--color-border);z-index: 0;left: 80%;top: 0;transform: rotate(-45deg);}
.vision-item.d-line-6:before{width: 20%;height:1px;border-top:4px dashed var(--color-border);z-index: 0;left: 0;top: 0;transform: rotate(45deg);}
.vision-item.d-line-3:before{width: 20%;height:1px;border-top:4px dashed var(--color-border);z-index: 0;left:103%;top:50%;}
.vision-item.d-line-4:before{width: 20%;height:1px;border-top:4px dashed var(--color-border);z-index: 0;left:-22%;top:50%;}
.vision-row1{display:flex;flex-wrap:wrap;justify-content:center;}
.vision-row1 .vision-empty{flex-basis: 160px;}
.vision-row2{display:flex;flex-wrap:wrap;justify-content:center;margin: 40px 0;position:relative}
.vision-row2 .vision-empty{flex-basis: 380px;}
.vision-item.bg-og{background:#F67C2F;border-color:#F97316;}
.vision-item.bg-gr{background:#36A86C;border-color:#22C55E;}

.v-icon img{width:60px;}
.v-text{display:inline-block;box-sizing:border-box;padding:0 1rem;}
.vision-item.d-line-3 .v-text{padding:0 1.8rem;}

/* 컬러 변형 */
/* .vision-item.bg-purple { background: #8B5CF6; border-color: #6D28D9; }
.vision-item.bg-pink   { background: #EC4899; border-color: #F472B6; }
.vision-item.bg-orange { background: #F97316; border-color: #FB923C; }
.vision-item.bg-green  { background: #22C55E; border-color: #16A34A; } */

.inner-bg-green{padding:60px;}
/* .inner-bg-green{position:relative;background-color:#E7F4F9;box-sizing:border-box;padding:120px 60px 60px;border-radius:250px 50px 50px 50px;}
.inner-bg-green::before{display: block; position: absolute; top: -10px; left: 130px;  bottom: auto; width: 94px; height: 88px; background-image: url(../images/edu-bg-dot.png); background-repeat: no-repeat; background-position: center; background-size: cover; content: '';} */

.work-flex{display:flex;flex-wrap:wrap;gap:40px;}

.work-article {
  flex: 1; /* 남은 공간을 동일 비율로 나눔 */
  min-width: 0; /* 긴 내용 때문에 늘어나는 것 방지 */
  box-sizing: border-box;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
  background:var(--color-gra);
  border-radius:55px 55px 20px 20px;

}
.w-article-title p{color:var(--color-primary);background:#fff;box-sizing:border-box;padding:20px;border-radius:35px;box-shadow:0 4px 8px rgba(0,0,0,0.1);font-weight:600;font-size:1.4rem;}
.w-article-title p{display:flex;flex-flow:row;align-items: center;gap:20px;}
.w-article-title p i{flex-shrink:0;width:40px;height:40px;display:inline-block;background:#fff;box-sizing:border-box;padding:5px;border-radius:50%;vertical-align:middle;}
.w-article-title p i img{width:40px;vertical-align:middle;}
.w-article-title p span{display:inline-block;flex:1;line-height:1.1;word-break:keep-all;}
.w-article-list{box-sizing:border-box;padding:20px;padding-top:0;}
.w-article-list ul li{position:relative;box-sizing:border-box;padding-left:20px;font-size:1.2rem;word-break:keep-all;}
.w-article-list ul li:before{content:"•";position:absolute;left:0;}

.mypage-cart td{vertical-align:middle;/*border-right:1px solid var(--color-border);*/}
/* .mypage-cart tr td:last-child{border-right:0;} */
.tool-info{display:flex;flex-flow:row;gap:20px;align-items: center;}
.tool-photo{flex-shrink:0;width:150px;}
.tool-photo p{margin-bottom:0;position:relative;height:0;padding-bottom:100%;overflow:hidden;}
.tool-photo p img{position:absolute;display:block;top:0;left:0;width:100%;height:100%;object-fit:cover;object-position: center;}

.tool-info{flex:1;min-width:0;}
.tool-info-text p{margin:0;}
.tool-name{font-weight:600;font-size:1.2rem;}
.tool-number{font-size:0.9rem;color:var(--color-dark-gr);}
.total-price{background:var(--color-table-thead);box-sizing:border-box;padding:var(--spacing-lg);text-align:right;}
.total-price p{margin:0;}
.total-numb{font-size:1.6rem;margin-left:var(--spacing-md);}

.c-btn-grey{background:var(--color-dark-gr);color:#fff;}
.c-btn-pr-out{border:1px solid var(--color-primary);color:var(--color-primary);}
.c-btn-pr{background:var(--color-primary);color:#fff;}

.cart-btn{margin-top:var(--spacing-md);}
.cart-btn-flex{display:flex;flex-wrap:wrap;justify-content: space-between;}
.cart-btn-flex button,.cart-btn-flex a{box-sizing:border-box;padding:0 20px;border-radius:3px;line-height:46px;}
.cart-btn-flex a{display:inline-block;line-height:44px;}

.timeline{position: relative;max-width: 1200px;margin: 0 auto;}
.timeline::before{content:"";position:absolute;top:5px;bottom:0;left:50%;width:2px;background:#444;transform: translateX(-50%);}
.timeline article{position: relative;width: 50%;padding:0 2rem;box-sizing: border-box;display:flex;gap:20px;}
.timeline article:nth-child(odd) {left: 0;text-align: right;justify-content: end;}
.timeline article:nth-child(even) {left: 50%;}
.timeline article:first-child{padding-top:0;}
.timeline article .year {font-size: 2rem;font-weight:600;color:var(--color-primary);margin-bottom:var(--spacing-md);}
.timeline article .year::before {content: "●";color:var(--color-secondary);font-size:12px;text-align:center;line-height:20px;position: absolute;top:5px;width: 20px;height: 20px;background:#fff;border:2px solid var(--color-secondary);border-radius: 50%;z-index: 1;}
.timeline article:nth-child(odd) .year::before {right: -12px;}
.timeline article:nth-child(even) .year::before {left: -12px;}
.timeline article:nth-child(odd) .year{order:1;}
.timeline article time {font-weight:600;margin-right: 0.5rem; color: #444;}
.timeline article .org {font-size: 1rem;color: #666;}
.timeline article ul{box-sizing:border-box;padding-top:var(--spacing-sm);}
.timeline article + article{margin-top:var(--spacing-lg);}
.timeline article li + li{margin-top:var(--spacing-md);}

.his-art-flex{display:flex;flex-flow:row;gap:20px;font-size:1.2em;}
.timeline article:nth-child(odd) .his-art-flex{flex-flow: row-reverse;}
.center-name{color:var(--color-primary);font-weight:600;}


.lo-art2-flex{display:flex;flex-flow:row;gap:60px;align-items:flex-start;}
.lo-art2-flex.f-align-start{align-items:start;}
.lo-art2-icon{flex-shrink:0;width:140px;}
.lo-art2-icon p{background:#fff;box-shadow:var(--shadow-card);border-radius:30px;box-sizing:border-box;padding:40px 0;}
.lo-art2-icon p img{margin:0 auto;width:60px;}
.lo-art2-text{flex:1;border-bottom:1px solid var(--color-border);padding-bottom:var(--spacing-xxl);}
.lo-art2-tit p{color:var(--color-primary);font-size:1.5rem;}
.art2-inner-a{display:flex;flex-flow:row;gap:40px;}
.a2-inn-tit{flex-shrink:0;width:100px;font-size:1.2rem;}
.a2-inn-con{flex:1;font-size:1.2rem;}
.a2-inn-con .bus-info > li{display:block;}
.a2-inn-con .bus-info > li + li{margin-top:var(--spacing-md);}
.a2-inn-con .bus-info > li.bus-t2:before{content:"일반버스";font-size:1rem;}
.a2-inn-con .bus-info > li.bus-t3:before{content:"마을버스";font-size:1rem;}

.location-article2 + .location-article2{margin-top:var(--spacing-xxl);}

.location-article2:last-child .lo-art2-text{border-bottom:0;}

.art2-con-flex{display:flex;flex-flow:row;gap:120px;}

.info-sm{color:var(--color-dark-gr);font-size:1rem;}

.bi-img-wrap{border:1px solid var(--color-border);box-sizing:border-box;padding:var(--spacing-xxl);}
.b-img-flex{display:flex;flex-flow:row;gap:120px;justify-content:space-evenly;}
.b-img-pt{line-height:140px;min-height:140px;display:flex;align-items: center;}
.b-img-pt img{height:100px;vertical-align:middle;}
.b-img-pt.bi-vertical img{height:140px;}
.b-img-text{font-size:1.2rem;text-align:center;margin-top:var(--spacing-lg);}

.color-intro{display:inline-block;width:100%;min-width:260px;box-sizing:border-box;border-radius:30px;background:#eee;color:#fff;}
.b-img-pt.color-intro{height:60px;line-height:60px;min-height:60px;text-align:center;}
.color-intro.b-color-1{background:#e4007e}
.color-intro.b-color-2{background:#00a7ea}
.b-img-pt.color-intro.color-dtl{height:120px;min-height:120px;line-height:1.2;border-radius:10px;text-align:left;display:flex;padding:10px;align-items: flex-end;}

.bi-down{margin-top:var(--spacing-lg);}
.b-down-flx{display:flex;flex-flow:row;gap:60px;align-items: center;}
.down-btn{flex:1;}
.down-btn a{background:var(--color-border);display:block;text-align:center;box-sizing:border-box;padding:15px 0;border-radius:5px;min-width:120px;transition:0.3s;}
.down-btn a:hover{background:var(--color-primary);color:#fff;}
.down-btn a i{vertical-align:middle;}

.bi-text{font-size:1.2rem;}
.bi-big p img{max-width:600px;margin:60px auto;}
.bi-part{display:flex;flex-flow:row;gap:40px;align-items: center;}
.bi-p-img{flex-shrink:0;width:300px;}
.bi-p-text ol li + li{margin-top:var(--spacing-lg);}
.bi-p-text ol{counter-reset:bc;}    
.bi-p-text ol li{counter-increment: bc;}
.bi-p-text ol li:before{content:counter(bc);display:inline-block;background:var(--color-dark-gr);color:#fff;border-radius:50%;width:20px;line-height:20px;height:20px;text-align:center;margin-right:10px;}

.bi-color-wrap{display:flex;flex-flow:row;gap:40px;align-items: center;justify-content:center;;}
.bi-c-pink{flex:1;}
.bi-c-pink ul{display:flex;flex-flow:row;}
.bi-c-pink ul li{flex:1;box-sizing:border-box;padding:var(--spacing-md);color:#fff;text-align:center;}
.bi-c-pink ul li:first-child{background:var(--color-primary);border-radius:30px 0 0 0;}
.bi-c-pink ul li:last-child{background:var(--color-secondary);border-radius:0 30px 0 0;}
.bi-c-blue{flex-shrink:0;width:420px;}
.bi-c-blue ul li{background:var(--color-tertiary);color:#fff;box-sizing:border-box;padding:var(--spacing-md);border-radius:30px 30px 0 0;text-align:center;}
.bi-c-btm p{box-sizing:border-box;padding:var(--spacing-md);text-align:center;border:1px solid var(--color-dark-gr);border-top:0;margin-top:var(--spacing-md);font-size:1.2rem;}

.inst-a .a2-inn-tit{width:140px;}

.space-list .space-list-ul > li{width: calc(100% / 4 - 19px);}
.space-list .space-list-ul > li > a{padding:0;position:relative;}
.space-list .space-list-ul .mov-prg-flex{display:block;}
.space-list .space-list-ul .thumb-img{padding-top:60%;border-radius:15px 15px 0 0;margin-bottom:0;}
.space-list .space-list-ul .mov-prg-info{padding:20px;}
.spc-price{line-height:23px;}
.spc-price:before{content:"대관료";display:inline-block;background:#eee;font-size:0.8rem;box-sizing:border-box;padding:1px 5px;border-radius:3px;margin-right:5px;}
/* .space-text-btn{position:absolute;left:50%;transform:translateX(-50%);width:90%;} */
.space-text-btn p{display:inline-block;width:100%;background:var(--color-primary);color:#fff;text-align:center;box-sizing:border-box;padding:var(--spacing-sm) 0;border-radius:5px;margin-bottom:0;}

.space-list .space-list-ul > li > a:hover .space-text-btn p{text-decoration:none;}
/* .space-list .space-list-ul > li > a:hover{} */

.contact-banner.card-shadow{background:#fff;box-shadow: var(--shadow-card);color:var(--color-text);padding:20px;}
.subtitle-area .container{box-shadow: var(--shadow-card);}

.space-detail .poster-area{max-width:100%;}
.space-detail .poster-area p{padding-bottom:62%;}
.space-detail .poster-area p img{object-fit: cover;}

.space-expl{box-sizing:border-box;padding:var(--spacing-md) 0;font-size:1.1rem;word-break:keep-all;}


/* ========== 태블릿 (min-width: 768px) ========== */
  @media (min-width: 768px) {
    .notice-title-wrap{position: relative;top:60px;height:0;}
    .notice-title-wrap.short{top: 30px;}
    .content-box{padding-left: 200px;}
    .contact-banner{padding: 32px 30px 32px 22px;}
    .contact-banner .main-text{font-size: var(--font-size-lg);}
    .contact-banner .sub-text{font-size: var(--font-size-base); margin-top: 10px;}

    .map-info-flex{display:flex;gap:30px;align-items:center;}
    .map-info-tit p{margin-bottom:0;text-align:center;}
    
    .m-info-photo{width:360px;}
  }
/* ========== 데스크탑 (min-width: 1024px) ========== */
  @media (min-width: 1024px) {
    .temp_step_box .step_list .step_item{width:calc((100% - 120px) / 3);margin-left:55px;}
    .temp_step_box .step_list .step_item:nth-child(2n+1), .temp_step_box .step_list .step_item:nth-child(3n+1){margin-left:0;}
    .temp_step_box .step_list .step_item:nth-child(n+3), .temp_step_box .step_list .step_item:nth-child(n+4){margin-top:25px;}
    .temp_step_box .step_list .step_item:nth-child(n+3) { margin-top: 0; margin-left:55px;}
    .temp_step_box .step_list .step_item:nth-child(n+4) { margin-top: 25px; margin-left:0;}
    .temp_step_box .step_list .step_item:nth-child(n+5) { margin-top: 0; margin-left:55px;margin-top: 25px; }
    .temp_step_box .step_list .step_item:nth-child(2n):before{display: block;}
    .temp_step_box .step_list .step_item:nth-child(3n):before{display:none;}
    .temp_step_box .step_list .step_item:before{left: calc(100% + 10px); display: block;}

    .facility-info .step_list .step_item{margin-left:var(--spacing-md);margin-top:0;}
    .facility-info .step_list .step_item:nth-child(3n){margin-left:var(--spacing-md);}
    .facility-info  .step_list .step_item:nth-child(5n){margin-left:var(--spacing-md);}
    .facility-info .step_list .step_item:before{display:none;}
    .facility-info .step_list .step_item{width:calc((100% - 40px) / 3);}

    .m-info-photo{width:460px;}

  }
/* ========== 일반 데스크탑 시작 (min-width: 1280px) ========== */
  @media (min-width: 1280px) {
    .sub-container > div > h4:after{width: 80px;height: 75px;}
    .content-box{padding-left: 320px;}
    .info-card-container{display: flex; flex-wrap: nowrap;}
    .info-table th[scope="row"]{width: 200px;}
    .notice-content{padding-bottom: 60px;}
    .notice-title-wrap{padding-left: 60px; }
    .notice-content.flex{display: flex; gap: 40px;}
    .etqlist-flex{display:flex;gap:40px;}

    .external-info dl{padding:20px;}

    

    .facility-info .step_list .step_item:before{display:none;}
    .facility-info .step_list .step_item:nth-child(2n):before{display:none;}
    .facility-info .step_list .step_item{width:calc((100% - 80px) / 4);margin-top:0;}
    .facility-info .step_list .step_item:nth-child(4n){margin-left:var(--spacing-md);margin-top:0;}
    .facility-info .step_list .step_item:nth-child(4n + 1){margin-left:0;}
    .facility-info .icon_box{padding-bottom:54%;}

    .map-container .root_daum_roughmap{padding-bottom:0;height:400px;}
    .map-info-wrap{padding:40px;}
    .map-info-tit p strong{font-size: var(--font-size-lg);}
    .map-info-tit p span{font-size: var(--font-size-lg);}
    .map-info-flex{gap:45px;}
    .map-info-cont{display:flex;flex-wrap:wrap;gap:30px;align-items: center;}
    .map-info-article:first-child{margin-bottom:0;}
    .map-info-article{font-size:18px;}

    .location-article{display:flex;flex-wrap:wrap;gap:30px;align-items:center;padding:40px;}
    .lo-article-title{flex-basis:25%;}
    .lo-article-title h5{text-align:center;}
    .lo-article-cont{border-left:4px double #eee;box-sizing:border-box;padding-left:30px;}

    .m-info-photo{width:560px;}

    .movie-tab-program .movie-tap li{min-width:120px;}
    .movie-tab-program .movie-tap li a{text-align:center;}

    .mov-prg-info .thumb-tit .movie-title .title-text{font-size:1.4rem;margin-bottom:var(--spacing-xl);}
    .mov-prg-info .thumb-tit{margin-bottom:var(--spacing-lg);}

    .edu-detail .m-info-photo{width:680px;}

    .mvs-a .mvs-time{display:inline-block;min-width:42px;}

    .join-step .step_item .text{font-size:1.2rem;}

    .like-btn{padding:5px 25px;}

    .space-list .space-list-ul .mov-prg-info .thumb-tit{margin-bottom:var(--spacing-md);}

  }
/* ========== 넓은 데스크탑 (min-width: 1400px) ========== */
  @media (min-width: 1400px) {
    .temp_step_box .step_list .step_item{width:calc((100% - 240px) / 5);}
    .temp_step_box .step_list.step6 .step_item{width:calc((100% - 300px) / 6);}
    
    .temp_step_box .step_list .step_item:nth-child(3n+1){margin-top: 0; margin-left: 55px;}
    .temp_step_box .step_list .step_item:first-child{margin-left:0;}
    .temp_step_box .step_list .step_item:nth-child(n+5){margin-top: 0;}
    .temp_step_box .step_list .step_item:nth-child(2n+1):before{display: block;}
    .temp_step_box .step_list .step_item:last-child::before{display: none;}

    .facility-info .step_list .step_item:nth-child(2n+1):before{display:none;}
    .facility-info .step_list .step_item:before{display:none;}
    .facility-info .step_list .step_item{width:calc((100% - 100px) / 5);margin-top:0;}
    .facility-info .step_list .step_item:nth-child(3n+1){margin-left:var(--spacing-md);}
    .facility-info .step_list .step_item:nth-child(4n + 1){margin-left:var(--spacing-md);}
    .facility-info .step_list .step_item:nth-child(5n+1){margin-left:0;margin-top:0;}

    .m-info-title{margin-bottom:var(--spacing-xl)}
    .dl-row dt, .dl-row dd{font-size:1.2rem;}
    .movie-reser-btn{margin-top:var(--spacing-xl);}
    .movie-tap a{font-size:1.2rem;}
    .info-flex .dl-row dt,.info-flex .dl-row dd{font-size:1.1rem;}

    /* .mprg-movie-list{display:flex;gap:20px;flex-wrap:wrap;} */
    
    .mprg-movie-list > li{flex: 0 0 calc(50% - 20px);box-sizing: border-box;padding-top:0;margin-top:0;}
    .mprg-movie-list > li + li{margin-top:0 !important;}
    
    .mprg-movie-list{display: grid;  grid-template-columns: repeat(2, 1fr);  gap: 20px;}

    .edu-list .info-flex .dl-row dt, .edu-list .info-flex .dl-row dd{font-size:1rem;}
  }
/* ========== 와이드 데스크탑 (min-width: 1600px) ========== */
  @media (min-width: 1600px) {

    .movie-detail-article{padding:30px;}

    .p-movie-thmb{width:90px;}
}
  @media (min-width: 1680px) {

}
 /* ========== PC전용요소 (max-width: 1279px) ========== */
  @media (max-width: 1279px) {

    .dl-row dt{width:80px;}
    .movie-info-top,.movie-inner{box-sizing:border-box;padding:0 15px;}
    .movie-info-top{box-sizing:border-box;padding-top:var(--spacing-lg);padding-bottom:var(--spacing-lg);}

    .movie-program .archive-list > li{width:100%}

    .schedule_calendar, .schedule_info{display:block;width:100%;}
    .schedule_calendar{padding:0 15px;}
    .schedule_calendar:before{display:none;}
    .schedule_info{margin-top:30px;margin-left:0;box-sizing:border-box;padding:0 15px;}
    .schedule_calendar .cal_headDay{font-size:1rem;}
    .schedule_calendar .cal_day_body .info_sub .info_inner{font-size:0.8rem;}
    .month-num{display:none;}
    .schedule_panel{box-sizing:border-box;padding:0 15px;margin-bottom:var(--spacing-xl)}
    .schedule_panel .schedule_month{padding:0 15px;height:80px;}
    .schedule_calendar .date span{font-size:0.9rem;}

    .schedule_calendar .date span.today{font-size:0.6rem;padding:0;position:absolute;top:-17px;}

    .work-flex{display:block;}
    .work-article + .work-article{margin-top:var(--spacing-lg);}

    .space-list .space-list-ul > li{width: calc(100% / 3 - 19px);}

    .map-info-article + .map-info-article{margin-top:var(--spacing-sm);}

 }

 @media (max-width: 900px) {

    .vision-core{position:static;width:100%;height:auto;transform:none;border-radius:35px;font-size:1.2rem;padding:var(--spacing-sm);}
    .vision-row1,.vision-row2{display:block;}
    .vision-item:before{display:none;}
    .vision-item{width:100%;height:auto;padding:var(--spacing-sm);border-radius:15px;font-size:1rem;margin-top:var(--spacing-sm);}
    .vision-row2{margin:0;}
    .vision-container::before{display:none;}
    .circle-area{padding:45px 20px;}

    .lo-art2-flex{box-sizing:border-box;padding:0 20px;gap:20px;}
    .lo-art2-icon{width:60px;}
    .lo-art2-icon p img{width:40px;}
    .lo-art2-icon p{border-radius:15px;padding:10px 0;}
    .lo-art2-con{display:block;}
    .art2-inner-a{display:block;}
    .lo-art2-text{padding-bottom:var(--spacing-md);}
    .location-article2 + .location-article2{margin-top:var(--spacing-md);}
    .lo-art2-tit p{font-size:1.2rem;}
    .a2-inn-tit{font-size:1rem;}
    .a2-inn-con{font-size:1rem;}

    .space-list .space-list-ul > li{width: calc(100% / 2 - 19px);}
 }


 /* ========== 모바일 전용 (max-width: 767px) ========== */
 @media (max-width: 767px) {
  .spaceWrap {overflow-x: scroll;}
  .movie-article-title h4{font-size:1.2rem;}
  .movie-reser-btn a{max-width:100%;}

  .timet-date{display:block;}

  .mov-prg-flex{display:block;}
  .info-flex .dl-row{display:block;}
  .mov-prg-info{padding:10px;}

  .pg-row{display:block;}
  .pg-row dt{margin-bottom:var(--spacing-md);}

  .p-movie-thmb{display:none;}

  .join-type-flex {flex-direction: column;gap: 20px;}
  .j-type-article {flex: 1 1 100%;max-width: 100%;}

  .join-steps-top .join-step .step_item{padding-top:0;}
  .join-steps-top .join-step .step_item .steps-dv{font-size:0.8rem;}

  .w-article-list ul li{font-size:1rem;}

  .tool-photo{width:80px;}
  .tool-name{font-size:1rem;}

  .cart-btn-flex{display:block;}
  .c-btn-l,.c-btn-r{display:flex;gap:10px;}
  .c-btn-r{margin-top:10px;}
  .cart-btn-flex button,.cart-btn-flex a{display:block;flex:1;text-align:center;}

  .timeline::before {left: 10px;}
  .timeline article {width: 100%;padding-left: 2.5rem;padding-right: 1rem;text-align: left !important;left: 0 !important;}
  .year::before {left: -22px !important;right: auto !important;}

  .space-list .space-list-ul > li{width:100%;}

  .map-info-tit p br{display:none;}
  .kk-map{max-width:260px;}

  .bi-wrapper{box-sizing:border-box;padding:0 10px;}
  .bi-big p img{max-width:320px;}
  .bi-text{font-size:1rem;}
  .b-down-flx{display:block;}
  .down-btn + .down-btn{margin-top:var(--spacing-sm);}
  .bi-part{display:block;}
  .bi-p-img{width:100%;}
  .bi-p-img img{max-width:240px;margin:0 auto;}

  .bi-color-wrap{display:block;}
  .bi-c-blue{width:100%;}
 }
